.Order {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.Ingredients {
  display: flex;
  align-items: center;
}

.Ingredients p {
  float: left;
  margin: 0;
}
.Ingredient {
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid #eee;
  padding: 5px;
  margin: 0 10px;
  box-shadow: 0 2px 3px #ccc;
}
.Price {
  flex: 1;
}
